.homepage {
    margin-top: 15px;
}

.homepage-title {
    margin-bottom: 15px;
}

.book-cover {
    position: relative;
    background-color: #ddd;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    height: 350px;
    max-height: 350px;
    width: 250px;
    max-width: 250px;
}

.book-cover, .book-cover > * {
    box-sizing: border-box;
}


.cover-title {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 10%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.4em;
    max-height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover-authors {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 10%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book a {
    color: black;
    text-decoration: none;
}

.book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1em;
    line-height: 1.1em;
    max-height: 2.2em;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 250px;
    max-width: 250px;
}

.book {
    margin-bottom: 30px;
}

.book-title a:hover {
    color: #ff9900;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.star {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.rating {

    display: flex;
    align-items: center;
    gap: 2px;
}

.rating span {

    display: flex;
    align-items: center;
    white-space: nowrap;
}

.number-of-ratings {
    margin-left: 10px;
    color: #017185;
}