<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>AmazonKindleStore.com</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/sorting-options.css}">
    <link rel="stylesheet" th:href="@{/css/user-reviews.css}">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div th:replace="~{fragments/rate-review :: rate-review}"></div>

<div class="container-fluid">
    <h1>
        <div class="your-list row justify-content-center">Reviews</div>
    </h1>

    <div class="list-container row">
        <div class="col-8 offset-2 content-pages-container">

            <div class="content-container">
                <div class="sorting-options row">
                    <div class="result-count">
                        <span id="startIndex" th:text="${startIndex}"></span>
                        <span>-</span>
                        <span id="endIndex" th:text="${endIndex}"></span>
                        <span> of </span>
                        <span id="numberOfItems" th:text="${numberOfItems}"></span>
                        <span> results</span>
                    </div>
                </div>

                <div class="reviews-list row justify-content-center">
                    <div class="review col-5" th:each="review : ${items}" th:id="${review.book.id}">
                        <div class="review-details">
                            <div class="review-book-title">
                                <span class="blue-text">eBook Title:   </span>
                                <span th:text="${review.rating.book.title}"></span>
                            </div>
                            <div class="review-stars">
                               <span th:each="i : ${#numbers.sequence(1, review.rating.ratingValue)}">
                                <img class="star" th:src="@{/stars/full-star.jpeg}" alt="Full Star">
                            </span>
                                <!-- Empty Stars -->
                                <span th:if="${review.rating.ratingValue < 5}">
                                <span th:each="i : ${#numbers.sequence(1, 5 - review.rating.ratingValue)}">
                                    <img class="star" th:src="@{/stars/empty-star.png}" alt="Empty Star">
                                </span>
                            </span>
                            </div>
                            <div class="review-date">
                                <span class="blue-text">Reviewed on:   </span>
                                <span th:text="${#temporals.format(review.rating.submissionDate, 'MMMM d, yyyy')}"></span>
                            </div>
                            <div class="review-title" th:text="${review.title}"></div>
                            <div class="review-text" th:text="${review.text}"></div>
                        </div>

                        <div class="item-buttons">
                            <div class="update-review-btn btn" th:data-book-id="${review.book.id}"
                                 th:data-rating="${review.rating.ratingValue}" th:data-title="${review.title}"
                                 th:data-text="${review.text}"
                                 th:data-img-url="${review.book.imageUrl}">Update</div>
                            <div class="delete-review-btn btn" th:data-book-id="${review.book.id}"
                                 th:data-img-url="${review.book.imageUrl}">Delete</div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="pages-container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="pages-section" th:with="totalPages=${totalPages}, currentPage=${currentPage}">
                            <nav>
                                <ul class="pagination">
                                    <!-- Previous Page Link -->
                                    <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="${currentPage > 0} ? @{/users/reviews(
                                                page=${currentPage - 1})} : '#'">
                                            <div class="previous-btn">< Previous</div>
                                        </a>
                                    </li>

                                    <!-- First Page Link -->
                                    <li th:if="${currentPage >= 1}" th:class="${currentPage >= 1} ? 'page-item' : 'page-item disabled'">
                                        <a class="page-link" th:href="@{/users/reviews(page=0)}">1</a>
                                    </li>

                                    <!-- Ellipsis before current page range -->
                                    <li th:if="${currentPage - 1 >= 2}" class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Page Numbers: Current Page - 1 -->
                                    <li th:if="${currentPage >= 2}" class="page-item">
                                        <a class="page-link" th:href="@{/users/reviews(page=${currentPage - 1})}" th:text="${currentPage}"></a>
                                    </li>

                                    <!-- Current Page -->
                                    <li class="page-item active">
                                        <span class="page-link" th:text="${currentPage + 1}"></span>
                                    </li>

                                    <!-- Page Numbers: Current Page + 1 -->
                                    <li th:if="${currentPage + 1 < totalPages - 1}" class="page-item">
                                        <a class="page-link" th:href="@{/users/reviews(page=${currentPage + 1})}"
                                           th:text="${currentPage + 2}"></a>
                                    </li>

                                    <!-- Ellipsis after current page range -->
                                    <li th:if="${currentPage + 2 < totalPages - 1}" class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Last Page Link -->
                                    <li th:if="${totalPages > 1} and ${currentPage + 2 <= totalPages}"
                                        th:class="${currentPage + 1 == totalPages} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{/users/reviews(page=${totalPages - 1})}" th:text="${totalPages}"></a>
                                    </li>

                                    <!-- Next Page Link -->
                                    <li th:class="${currentPage + 1 >= totalPages} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="${currentPage + 1 <= totalPages} ?
                                                @{/users/reviews(page=${currentPage + 1})}">
                                            <div class="next-btn">Next ></div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    let isLoggedIn = [[${isLoggedIn}]];
</script>
<script th:src="@{/javascript/bootstrap.min.js}"></script>
<script th:src="@{/javascript/app.js}"></script>
</body>
</html>